@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    font-family: 'SF Pro Display', sans-serif;
}
.jumbotron{
    margin-top: -50px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;                                         
  }

.text-jumbo{
    font-size: 4rem;
}
