@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'SF Pro Display', sans-serif;
                                                
}

.shadow-header{
    box-shadow: -3px 45px 19px -6px rgba(0,0,0,0.51) inset;
-webkit-box-shadow: -3px 45px 19px -6px rgba(0,0,0,0.51) inset;
-moz-box-shadow: -3px 45px 19px -6px rgba(0,0,0,0.51) inset;
}

.header-padding{
   margin-top:-100px;
}

@media only screen and (max-width: 600px) {
    .header-padding {
    height:300px;
    width:100%
    }
    .h1-header{
        margin-top: 200px;
        font-size: x-large;
    }
    .p-header{
        font-size:small
    }
  }